@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

*{
    margin: 0;
    padding: 0%;
}

:root{
    --font01: Verdana, Arial, sans-serif;
    --font02: 'Passion One', cursive;
    --font03: 'Sriracha', cursive;
}

header{
    min-height: 100px;
    background-color: black;
    text-align: center;
    padding: 16px;
}

header > h1{
    font-family: var(--font02);
    color: white;
    margin-bottom: 15px;
    font-size: 5em;
    font-weight: bold;
}

header > p, a{
    font-family: var(--font01);
    color: white;
    text-decoration: none;
}

header > p > a{
    font-weight: bold;
}

header > p > a:hover{
    text-decoration: underline;
}

body{
    font-family: var(--font03);
}

section{
    padding: 10px;
    font-size: 2em;
}